@{
    ViewData["Title"] = "About";
}


<div class="About">
    <h2>About:</h2>
    <p>
        Working on this project has been an incredible journey of challenges, enjoyment, and personal growth. Throughout the development process, I encountered various obstacles that tested my problem-solving skills and my ability to adapt to new situations. These challenges not only provided me with a sense of accomplishment when overcome, but they also allowed me to learn valuable lessons that will undoubtedly contribute to my future endeavors.
    </p>
    <p>
        As I delved deeper into the project, I discovered new technologies and techniques that broadened my understanding of the field. Exploring and mastering these tools was an immensely satisfying experience that fueled my passion for learning and innovation. I am grateful for the opportunity to enhance my technical skills while also experiencing the joy that comes from creating something from scratch.
    </p>
    <p>
        The knowledge and experiences gained from this project have left a lasting impact on my professional development. I am excited to continue exploring and learning, as I strive to make a difference in the company. Thank you so much.
    </p>
    <a href="https://www.linkedin.com/in/edmunddichoso/">Edmund Dichoso(Click to access my LinkedIn)</a>
</div>
